{% extends "base.html" %}
{% load static %}

{% block content %}

{% include "includes/sidebar.html" %}

  <div class="container-fluid custom-margin-top custom-margin-bottom" >
    <div class="row mt-10">
      <div class="col-12">
        <h1 class="text-primary font-weight-bold text-center mb-4">Dashboard</h1>
        <h5 class="text-center fw-semibold mb-6" style="font-size: 23px">Here is reflected sweeply summarized information related to both projects and teams</h5>
      </div>
    </div>
  </div>
  <section class="pt-sm-8 pb-5 mt-n5 position-relative bg-gradient-green overflow-hidden">
    <div class="position-absolute w-100 z-inde-1 top-0 mt-n3">
      <svg width="100%" viewBox="0 -2 1920 157" version="1.1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink">
        <title>wave-down</title>
        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g id="Artboard" fill="#FFFFFF" fill-rule="nonzero">
            <g id="wave-down">
              <path d="M0,60.8320331 C299.333333,115.127115 618.333333,111.165365 959,47.8320321 C1299.66667,-15.5013009 1620.66667,-15.2062179 1920,47.8320331 L1920,156.389409 L0,156.389409 L0,60.8320331 Z" id="Path-Copy-2" transform="translate(960.000000, 78.416017) rotate(180.000000) translate(-960.000000, -78.416017)"></path>
            </g>
          </g>
        </g>
      </svg>
    </div>
    <div class="container-fluid pt-5">
      <div class="row justify-content-center">
        <div class="col-lg-8 col-md-6 mb-4">
          <div class="card pb-4" style="background-color: #FFB41D; border: 1px solid #FFC0CB; border-radius: 20px; box-shadow: 0 2px 12px 0 rgba(255, 0, 127, 0.16);">
            <div class="card-header pb-0 text-center">
              <!-- Center the header -->
              <div class="row">
                <div class="col-lg-12 col-12">
                  <!-- Center the badge -->
                  <div style="display: inline-flex; padding-right: 10px;">
                    <h5 style="color: #027cc7; font-size: 25px; font-weight: bold;" class="px-2">PROJECTS</h5>
                    <p class="text-sm mb-0">
                      <span style="background-color: #027cc7; font-size: 14px; color: #FFB41D; width: 34px; height: 30px;" class="badge mt-auto">{{ projects|length }}</span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body px-0 pb-2">
              <div class="table-responsive">
                <table class="table align-items-center mb-0">
                  <thead>
                    <tr>
                      <tr>
                        <th class="text-center text-uppercase text-primary text-xxs font-weight-bolder opacity-7">Name</th>
                        <th class="text-center text-uppercase text-primary text-xxs font-weight-bolder opacity-7">Budget</th>
                        <th class="text-center text-uppercase text-primary text-xxs font-weight-bolder opacity-7">Team</th>
                        <th class="text-center text-uppercase text-primary text-xxs font-weight-bolder opacity-7">Time constraints</th>
                        <th class="text-center text-uppercase text-primary text-xxs font-weight-bolder opacity-7">Completion</th>
                      </tr>
                    </tr>
                  </thead>
                  <tbody>
                    {% for project in projects %}
                      <tr class="parent-container">
                        <td class="col-lg-5">
                          <div class="d-flex px-2 py-1">
                            <a href="{% url 'assignment_handler:project-detail' pk=project.id %}" class="d-flex flex-column justify-content-center mx-3 text-decoration-none">
                              <h6 class="mb-0 text-sm text-primary fw-semibold" style="margin-left: 40px;">{{ project.name }}</h6>
                            </a>
                          </div>
                        </td>
                        <td style="font-size: 13px" class="align-middle text-center fw-semibold text-primary">
                          <span class="text-xs text-primary fw-semibold">{{ project.budget }}$</span>
                        </td>
                        <td style="padding-left: 20px; font-size: 13px" class="align-middle text-center fw-semibold text-primary">
                          <span class="text-xs text-primary fw-semibold" style="text-transform: capitalize; font-size:14px">{{ project.team.name }}</span>
                        </td>
                        <td class="align-middle text-primary text-sm col-lg-3" style="padding-left: 53px;">
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                            <path fill="red" d="M10.854 7.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
                            <path fill="red" d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
                          </svg>
                          <span class="text-xs fw-semibold text-primary"> {{ project.time_constraints }} </span>
                        </td>
                        <td class="align-middle col-lg-3">
                          <div class="progress-wrapper ms-2">
                            <div class="progress-info mb-1">
                              <div class="progress-percentage">
                                <span class="text-xs text-primary fw-semibold">{{ project.get_project_progress|floatformat:2 }}%</span>
                              </div>
                            </div>
                            <div class="progress progress-supplemental">
                              <div class="progress-bar-peremptory bg-gradient-primary w-{{ project.get_project_progress }}" role="progressbar" aria-valuenow="{{ project.get_project_progress }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ project.get_project_progress }}%;"></div>
                            </div>
                          </div>
                        </td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div style="background-color: #027CC7; border: 1px solid #6f00ff; border-radius: 20px; box-shadow: 0 2px 12px 0 rgba(255, 0, 127, 0.16); padding:0 0 20px 0" class="card my-5">
            <div style="background-color: transparent; border-radius: 20px;" class="card-header pb-0 text-center">
              <div class="row">
                <div class="col-lg-6 col-7 mx-auto">
                  <div style="display: inline-flex;">
                    <h5 style="color: #ffb41d; font-size: 25px; font-weight:bold; padding:0 10px;" class="">TEAMS</h5>
                    <p class="text-sm mb-0">
                      <span style="background-color: #ffb41d; font-size: 14px; color: #027CC7; width:34px; height:30px;" class="badge mt-auto">{{ teams|length }}</span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body px-0 pb-2">
              <div class="table-responsive">
                <table class="table align-items-center mb-0">
                  <thead>
                    <tr>
                      <th style="color: white" class="text-center text-uppercase text-xxs font-weight-bolder opacity-7">Name</th>
                      <th style="color: white" class="text-center text-uppercase text-xxs font-weight-bolder opacity-7">Members</th>
                      <th style="color: white" class="text-center text-uppercase text-xxs font-weight-bolder opacity-7">Budget</th>
                      <th style="color: white" class="text-center text-uppercase text-xxs font-weight-bolder opacity-7">Projects</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for team in teams %}
                      <tr>
                        <td class="w-30">
                          <div class="row">
                            <div class="col-2 d-flex flex-column justify-content-center"></div>
                            <div class="col-5 d-flex flex-column justify-content-center">
                              <a href="{% url 'assignment_handler:team-detail' pk=team.id %}" class="d-flex flex-column justify-content-center mx-3 text-decoration-none">
                                <h6 class="fw-semibold" style="color: white; display: block; font-size: 14px; text-transform: capitalize;">
                                  {{ team.name }}
                                </h6>
                              </a>
                            </div>
                            <div class="col-1 d-flex flex-column justify-content-center"></div>
                            <div class="col-4 pt-3 pb-0 d-flex px-2 py-1">
                              {% if user not in team.members.all %}
                                <form class="ms-2 pt-2" action="{% url 'assignment_handler:switch-team' pk=team.id action='add'%}" style="padding-left: 25px;" method="post">
                                  {% csrf_token %}
                                  <input type="hidden" name="team_id" value="{{ team.id }}">
                                  <button style="background-color: #FFB41D; font-size: 10px;" type="submit" class="btn btn-sm fw-semibold">
                                    Add to team
                                  </button>
                                </form>
                              {% else %}
                                <div class="d-flex justify-content-between align-items-center" style="padding-bottom: 0;">
                                  <form class="ms-2 ps-4 pt-2" action="{% url 'assignment_handler:switch-team' pk=team.id action='delete'%}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="team_id" value="{{ team.id }}">
                                    <button style="background-color: red; font-size: 10px;" type="submit" class="btn btn-sm fw-semibold">
                                      Remove from team
                                    </button>
                                  </form>
                                </div>
                             {% endif %}
                            </div>
                          </div>
                        </td>
                        <td class="w-30 align-middle">
                          <div class="parent-container d-flex justify-content-center align-items-center">
                            <div class="text-center">
                              <div class="avatar-group">
                                {% for worker in team.members.all %}
                                  <a href="{% url 'assignment_handler:worker-detail' pk=worker.id %}"
                                     class="avatar avatar-sm rounded-circle border-1"
                                     style="border-radius: 50%; overflow: hidden;"
                                     data-bs-toggle="tooltip"
                                     data-bs-placement="bottom"
                                     title="{{ worker.first_name }} {{ worker.last_name }}">
                                    <img src="{% static 'img/team/'|add:worker.username|add:'.jpeg' %}" alt="{{ team.name }}"
                                         id="avatar-{{ worker.id }}"
                                         onerror="placeholderAvatar(this)">
                                  </a>
                                {% endfor %}
                              </div>
                            </div>
                          </div>
                        </td>
                        <td style="font-size: 13px; color: white" class="w-10 align-middle text-center">
                          <span style="color: white" class="text-xs fw-semibold"> {{ team.sum_of_budget }}$</span>
                        </td>
                        <td class="w-10 align-middle text-center text-sm">
                          <span style="color: white" class="text-xs fw-semibold"> {{ team.projects_count }} </span>
                        </td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div style="height: 40px;"></div>
    <div class="position-absolute w-100 bottom-0">
      <svg width="100%" viewBox="0 -1 1920 166" version="1.1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink">
        <title>wave-up</title>
        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g id="Artboard" transform="translate(0.000000, 5.000000)" fill="#FFFFFF" fill-rule="nonzero">
            <g id="wave-up" transform="translate(0.000000, -5.000000)">
              <path d="M0,70 C298.666667,105.333333 618.666667,95 960,39 C1301.33333,-17 1621.33333,-11.3333333 1920,56 L1920,165 L0,165 L0,70 Z" id="Path" fill="#fff"></path>
            </g>
          </g>
        </g>
      </svg>
    </div>
    <div style="height: 40px;"></div>
    <div class="position-absolute w-100 bottom-0">
      <svg width="100%" viewBox="0 -1 1920 166" version="1.1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink">
        <title>wave-up</title>
        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g id="Artboard" transform="translate(0.000000, 5.000000)" fill="#FFFFFF" fill-rule="nonzero">
            <g id="wave-up" transform="translate(0.000000, -5.000000)">
              <path d="M0,70 C298.666667,105.333333 618.666667,95 960,39 C1301.33333,-17 1621.33333,-11.3333333 1920,56 L1920,165 L0,165 L0,70 Z" id="Path" fill="#fff"></path>
            </g>
          </g>
        </g>
      </svg>
    </div>
    <script>
      function placeholderAvatar(img) {
        img.src = "{% static 'img/team/avatar-placeholder.jpeg' %}";
      }
    </script>
  </section>

{% endblock %}
