.card .card-header {
    background-color: transparent;
    border-bottom: 0 !important;
}

.card-footer {
    border-top: 0 !important;
}

.badge {
  position: relative;
}

.badge::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.badge-text {
  display: inline-block;
  vertical-align: middle;
}

img {
  object-fit: cover;
}

.btn.btn-primary.h-1 {
    padding: 2px 20px;
    margin-left: 20px;
}

@media(min-width: 992px) {
    .container .table-wrap {
        overflow: hidden;
    }
}
