.grid-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto auto;
  padding: 0;
  margin: 20px 160px 30px 160px;
}

.widget-left {
  padding: 20px;
}

.widget-right {
  padding: 20px;
}

.widget-full-width {
  padding: 20px;
  grid-column: span 2;
  display: grid;
  grid-template-rows: auto auto;
  width: 100%;
}

.widget-header {
  font-weight: bold;
  margin-bottom: 10px;
}

.widget-body {
  background-color: white;
  padding: 10px;
  border: 1px solid red;
}

.mt-n8 {
  margin-bottom: 50px !important;
}

.col-3 {
    border-right: 1px black;
}

.col-2 {
    border-left: 1px solid black;
}

.avatar-sm {
  position: relative;
  top: 0;
  left: 0;
}

.widget-container {
  margin-bottom: 20px;
  background-color: #f5f5dc;
  padding: 10px;
  border-radius: 20px 20px 20px 20px;
}

a.my-2 mx-3 d-flex cursor-pointer align-items-center {
  margin-bottom: 10px;
}

.orange {
 background-color: #FFA500 !important;
}

.green {
 background-color: #008C45 !important;
}

.red {
 background-color: red !important;
}

.dropdown-container {
  height: 20px;
}
