<footer class="footer pt-5 mt-5">
  <hr class="horizontal dark mb-5">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-4 me-auto d-flex align-items-center justify-content-center">
        <div>
          <h6 class="text-gradient text-primary font-weight-bolder d-flex flex-column">
            Assignments monitoring and tackling system
          </h6>
        </div>
      </div>
      <div class="col-md-2 col-sm-6 col-6 mb-4 me-auto">
        <div>
          <h6 class="text-gradient text-primary text-sm">Tracking leverages</h6>
          <ul class="flex-column ms-n3 nav">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'assignment_handler:task-panel' %}" target="_blank">
                Task panel
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'assignment_handler:project-tracking-panel' %}" target="_blank">
                Project tracking panel
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'assignment_handler:dashboard' %}" target="_blank">
                Dashboard
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-2 col-sm-6 col-6 mb-4 me-auto">
        <div>
          <h6 class="text-gradient text-primary text-sm">Parameters management</h6>
          <ul class="flex-column ms-n3 nav">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'assignment_handler:task-type-list' %}" target="_blank">
                Task type management
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'assignment_handler:project-category-list' %}" target="_blank">
                Project categories management
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'assignment_handler:position-list' %}" target="_blank">
                Positions management
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-2 col-sm-6 col-6 mb-4 me-auto">
        <div>
          <h6 class="text-gradient text-primary text-sm">Personal affairs</h6>
          <ul class="flex-column ms-n3 nav">
            {% if user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'assignment_handler:worker-detail' pk=user.id %}" target="_blank">
                  Profile
                </a>
              </li>
            {% endif %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'assignment_handler:workers-list' %}" target="_blank">
                Rating status
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'assignment_handler:task-panel' %}" target="_blank">
                Current tasks
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-12">
        <div class="text-center">
          <p class="my-4 text-sm">
            &copy; 2024 Ruslan Kazmiryk. All rights reserved.
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
